<header>
    <div class="logo">
        <span>Big</span>Basket
        <i>{{dashboardTitle}}</i>
    </div>
    <ul class="nav">
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['customer/add']" routerLinkActive="active">Customer</a></li>
        <li><a [routerLink]="['supplier/add']" routerLinkActive="active">Supplier</a></li>
    </ul>
</header>
<main>
    <!-- <ul class="reset">
        <li>{{dashboardInfo.DashboardCode}}</li>
        <li>{{dashboardInfo.DashboardName}}</li>
        <li>{{dashboardInfo.DashboardAmount}}</li>
    </ul> -->
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="copyrights">
        Copyrights &copy; 2020 CEI-Team India.
    </div>    
</footer>