* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

$white: #fff;
$body-text: #212529;
$marine-blue : #39aacc;
$footer-bg: #363f42;
$footer-txt: #808080;

body {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $body-text;
    text-align: left;
    background-color: $white;
}

header {
    background-color: $marine-blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // padding: 1rem;
    a {
        color: $white;
    }
}

.logo {
    font-weight: bold;
    font-size: 2rem;
    line-height: normal;
    padding: 1rem;
    span {
        opacity: .5;
        font-size: 2rem;
    }
    i {
        font-weight: normal;
        display: block;
        font-style: italic;
        letter-spacing: 0.625rem;
    }
}


ul.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 1rem;
    li {
        margin-left: 2px;
        display: flex;
        a {
            display: flex;
            text-decoration: none;            
            align-items: center;
            padding: 0 1rem;
            &:hover {
                background-color: darken($color: $marine-blue, $amount: 5%);
            }
            &.active {
                background-color: darken($color: $marine-blue, $amount: 10%);
            }
        }
    }
}


main {
    padding: 1rem;
    height: 81vh;
    .reset {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

footer {
    background-color: $footer-bg;
    color: $footer-txt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    a {
        color: $white;
    }
}
